<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>Basic Information:</h3>
    <p>Name: Ahmad Hasan Siregar</p>
    <p>Birthdate: June 5, 1999</p>
    <p>Birthplace: Jakarta</p>
    <p>Address: Villa Bintaro Indah</p>

    <h3>Education History:</h3>
    <p>Universitas Indonesia, Faculty of Computer Science, Computer Science Major - 2016 ~ now</p>
    <br>
    <p>Greetings! I love competitive programming.</p>
    <br>
    <p th:if="${visitor}" th:text="${visitor} + ', I hope you interested to hire me.'" >
    <p th:unless="${visitor}" th:text="'This is my CV.'" >
</body>
</html>
